<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% load static %}
	<link rel="stylesheet" href="{% static 'CSS/home.css' %}">
	<!--<link rel="stylesheet" href="../static/CSS/home.css">-->
	<title>Document</title>
</head>
<body>
    <div class="portfolio_card_project proj_01">
        <div class="project_thumbnail_wrapper">
            <img class="project_thumbnail" src="{% static 'Images/portfolio_section/Agency_Flyer_Art.png' %}" alt="Project_Thumbnail">
        </div>

        <div class="project_title">
            <span>Company</span>
            <span>Flyers</span>
        </div>
    </div>


    <script src="{% static 'JS/home.js' %}" defer></script>
</body>