<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% load static %}
	<link rel="stylesheet" href="{% static 'CSS/home.css' %}">
	<title>Document</title>
</head>
<body>

	<section class="section_01">
		<nav class="navigation_bar_container">
			<div class="navigation_bar_wrapper">

				<div class="navigation_bar_logo">
					<img src="{% static 'images/home/user.png' %}" alt="logo_icon" srcset="">
				</div>
				
				<ul>
					<a href="#">HOME</a>
					<a href="#">ABOUT</a>
					<a href="#">CONTACT</a>
					<a href="#">BLOG</a>
					<a href="#">SHOP</a>
				</ul>

			</div>
		</nav>

		<div class="bottom_navigation_devider"></div>

		<div class="landing_page_container">
			<div class="landing_page_text">
				<h1 class="landing_page_title_tag">
					Creativity
				</h1>
	
				<p class="landing_page_title_slogan">
					For All.
				</p>
			</div>
		</div>
	</section>
	
</body>
</html>