@font-face {
    font-family: 'Prata_Custom';
    src: url('/static/Fonts/Prata/Prata-Regular.ttf') format('truetype')
	;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald_Custom';
    src: url('/static/Fonts/Oswald/static/Oswald-ExtraLight.ttf') format('truetype')
	;
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald_Custom';
    src: url('/static/Fonts/Oswald/static/Oswald-Light.ttf') format('truetype')
	;
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald_Custom';
    src: url('/static/Fonts/Oswald/static/Oswald-Regular.ttf') format('truetype')
	;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald_Custom';
    src: url('/static/Fonts/Oswald/static/Oswald-Medium.ttf') format('truetype')
	;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald_Custom';
    src: url('/static/Fonts/Oswald/static/Oswald-SemiBold.ttf') format('truetype')
	;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald_Custom';
    src: url('/static/Fonts/Oswald/static/Oswald-Bold.ttf') format('truetype')
	;
    font-weight: 700;
    font-style: normal;
}


:root{
	--second_color: #F2F2F2;
	--body_background: #b6ad90;
	--section_01_background: radial-gradient(circle at 50% 50%, transparent 5%, rgba(96,108,56,1) 25%, transparent 50%);
	--navigation_bar_container: linear-gradient(to bottom, rgba(40,54,24,0.7) 15%, transparent 140%);
	--devider_color_01: linear-gradient(to right, rgba(158, 169, 63,1) 10%, rgba(188, 108, 37,1) 50%, rgba(158, 169, 63,1) 80%);
	--landing_page_cards_background: linear-gradient(140deg, rgba(221, 161, 94,1) -15%, rgba(96, 108, 56,1) 60%);



	--text_color_01: #F2F2F2;
	--text_color_02: #ffedd8;

	--border_color_01: #bc6c25;
	--border_color_02: #444444;
	--border_color_03: #ccd5ae;
}

body{
	padding: 0;
	margin: 0;
	background: var(--body_background);
}

.section_01{
	width: 100%;
	height: 100vh;
	background: transparent;
	display: flex;
	flex-direction: column;
}

.navigation_bar_container{
	width: 100%;
	height: auto;
	background: var(--navigation_bar_container);
}

.navigation_bar_wrapper{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navigation_bar_logo{
	width: 100px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent;
	margin: auto 40px;
}

.navigation_bar_logo img{
	width: 50px;
	height: 50px;
}

.navigation_bar_wrapper ul{
	width: max-content;
	padding: 0;
	margin: auto 20px;
}

.navigation_bar_wrapper ul a{
	font-family: 'Italiana_Custom';
	font-weight: 400;
	font-style: 'normal';
	font-size: 16px;
	color: var(--text_color_01);
	text-decoration: none;
	margin: auto 40px;
}

.bottom_navigation_devider{
	width: 100%;
	height: 5px;
	background: var(--devider_color_01);
	padding: 0;
	margin: 0;
}

.landing_page_container{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.landing_page_cards_wrapper{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.landing_page_card_01{
	width: 200px;
	height: 300px;
	background: var(--landing_page_cards_background);
	border: 2px solid var(--border_color_01);
	border-radius: 8px;
	place-content: center;
	place-items: center;
	margin: 0px 10px 0px 0px;
}

.landing_page_card_01_inner_border_01{
	width: 90%;
	height: 93%;
	border: 1px solid var(--border_color_01);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.landing_page_card_01_icon_01{
	width: max-content;
	height: auto;
	margin: 40px 0px 0px 0px;
	border: 1px solid red;
}

.Creativity_icon{
	width: 130px;
}

.Box_path{
	fill: var(--border_color_03);
	stroke: var(--border_color_02);
	stroke-miterlimit: 10;
	stroke-width: 8px;
}

.Light_Box{
	fill: none;
	stroke: none;
	stroke-miterlimit: 10;
	stroke-width: 8px;
}

.Light_Bulb{
	fill: transparent;
	stroke: var(--border_color_03);
	stroke-miterlimit: 10;
	stroke-width: 8px;
}

.Light_Streaks{
	fill: transparent;
	stroke: var(--border_color_03);
	stroke-miterlimit: 10;
	stroke-width: 8px;
}

.landing_page_card_title_tag_01{
	width: 100%;
	font-family: 'Prata_Custom', 'sans-serif';
	font-weight: 400;
	font-style: normal;
	font-size: 22px;
	text-align: center;
	letter-spacing: 0.5px;
	color: var(--text_color_02);
	border-top: 1px solid var(--border_color_01);
	padding: 8px 0px 0px 0px;
	margin: 0px 0px 6px 0px;
}

.landing_page_card_02{
	width: 200px;
	height: 300px;
	background: var(--landing_page_cards_background);
	border: 2px solid var(--border_color_01);
	border-radius: 8px;
	place-content: center;
	place-items: center;
	margin: 0px 10px 150px 10px;
}

.Inimitability_icon{
	width: 130px;
}

.First_Lens_Stroke{
	fill: transparent;
	stroke-width: 15px;
	stroke: var(--border_color_02);
}

.Bigger_Lens_Handle_Box{
	fill: transparent;
	stroke-width: 15px;
	stroke: var(--border_color_02);
}

.Smaller_Lens_Handle_Box{
	fill: transparent;
	stroke-width: 15px;
	stroke: var(--border_color_02);
}

.Second_Lens_Stroke{
	fill: transparent;
	stroke-width: 15px;
	stroke: var(--border_color_02);
}

.Star_Box_Stroke{
	fill: transparent;
	stroke-width: 15px;
	stroke: var(--border_color_02);
}

.Top_Box{
	fill: transparent;
	stroke-width: 15px;
	stroke: var(--border_color_02);
}

.Base_Box{
	fill: transparent;
	stroke-width: 15px;
	stroke: var(--border_color_02);
}

.Star{
	fill: transparent;
	stroke-width: 15px;
	stroke: var(--border_color_02);
}

.landing_page_card_03{
	width: 200px;
	height: 300px;
	background: var(--landing_page_cards_background);
	border: 2px solid var(--border_color_01);
	border-radius: 8px;
	place-content: center;
	place-items: center;
	margin: 0px 0px 0px 10px;
}

.Human_icon{
	stroke-width: 15px;
	stroke: var(--border_color_02);
	fill: transparent;
}

.Ramp_icon{
	stroke-width: 15px;
	stroke: var(--border_color_02);
	fill: transparent;
}

.Gear_icon{
	stroke-width: 15px;
	stroke: var(--border_color_02);
	fill: transparent;
}

.landing_page_card_title_tag{
	font-family: 'Prata_Custom', 'sans-serif';
	font-weight: 400;
	font-style: normal;
	font-size: 22px;
	text-align: center;
	letter-spacing: 0.5px;
	color: var(--text_color_02);
	border-top: 1px solid var(--border_color_01);
	padding: 8px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.landing_page_title_slogan{
	font-family: 'Oswald_Custom';
	font-weight: 200;
	font-style: normal;
	font-size: 24px;
	text-align: center;
	color: var(--text_color_01);
	padding: 0;
	margin: 0;
}