@font-face {
    font-family: 'Prata_Custom';
    src: url('/static/Fonts/Prata/Prata-Regular.ttf') format('truetype')
	;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald_Custom';
    src: url('/static/Fonts/Oswald/static/Oswald-ExtraLight.ttf') format('truetype')
	;
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald_Custom';
    src: url('/static/Fonts/Oswald/static/Oswald-Light.ttf') format('truetype')
	;
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald_Custom';
    src: url('/static/Fonts/Oswald/static/Oswald-Regular.ttf') format('truetype')
	;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald_Custom';
    src: url('/static/Fonts/Oswald/static/Oswald-Medium.ttf') format('truetype')
	;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald_Custom';
    src: url('/static/Fonts/Oswald/static/Oswald-SemiBold.ttf') format('truetype')
	;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald_Custom';
    src: url('/static/Fonts/Oswald/static/Oswald-Bold.ttf') format('truetype')
	;
    font-weight: 700;
    font-style: normal;
}


:root{
	--second_color: #F2F2F2;
	--body_background: #b6ad90;

	--section_01_background_color: #B85042;
	--navigation_bar_container: linear-gradient(to bottom, rgba(94, 0, 0, 1) -95%, transparent 120%);
	--devider_color_01: linear-gradient(to right, rgba(68, 68, 68, 1) 10%, rgba(94, 0, 0, 1) 50%, rgba(68, 68, 68, 1) 80%);
	--landing_page_cards_background: linear-gradient(140deg, rgba(252, 246, 245, 1) -75%, rgba(165, 165, 76, 1) 80%);

	--section_02_background_color: #31473A;
	--section_03_background_color: #EBEBDE;
	--section_03_element_gradient_background_color_01: linear-gradient(140deg, rgba(105, 105, 5, 1) 25%, rgba(165, 165, 76, 1) 100%);
	--section_03_element_background_color_01: #505039;
	--section_03_element_background_color_02: #696905;
	--section_03_element_background_color_03: #A5A54C;


	--text_color_01: #F2F2F2;
	--text_color_02: #ffedd8;
	--text_color_03: #5e0000;
	--text_color_04: #F6F1EE;
	--text_color_05: #EDF4F2;
	--text_color_06: #bc6c25;
	--text_color_07: #777764;
	--text_color_08: #4F4747;
	--text_color_09: #EBEBDE;

	--border_color_01: #bc6c25;
	--border_color_02: #444444;
	--border_color_03: #ccd5ae;
	--border_color_04: #dbb42c;
	--border_color_05: #5e0000;
	--border_color_06: #EDF4F2;
	--border_color_07: #4F4747;
	--border_color_08: #EBEBDE;

	--cards_icon_fill_color_01: #bc6c25;
	--cards_icon_fill_color_02: #ccd5ae;
	--cards_icon_fill_color_03: #dbb42c;

	--decoration_color_01: #EDF4F2;
	--decoration_color_02: #bc6c25;
}

body{
	kerning: -4;
	padding: 0;
	margin: 0;
	background: var(--body_background);
}

.section{
	width: 100%;
	height: 100vh;
	background: var(--section_01_background_color);
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	left: 0;
	transition: transform 0.6s ease;
	padding: 0;
	margin: 0;
}

.navigation_bar_container{
	width: 100%;
	height: auto;
	background: var(--navigation_bar_container);
}

.navigation_bar_wrapper{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 5px;
}

.navigation_bar_logo{
	width: 100px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent;
	margin: auto 40px;
}

.navigation_bar_logo img{
	width: 50px;
	height: 50px;
}

.navigation_bar_wrapper ul{
	width: max-content;
	padding: 0;
	margin: auto 20px;
}

.navigation_bar_wrapper ul a{
	font-family: 'Italiana_Custom';
	font-weight: 400;
	font-style: 'normal';
	font-size: 16px;
	color: var(--text_color_04);
	text-decoration: none;
	margin: auto 40px;
    position: relative;
    overflow: hidden;
}

.navigation_bar_wrapper ul a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #5e0000;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.navigation_bar_wrapper ul a:hover::before {
    width: 100%;
    left: 0;
}

.bottom_navigation_devider{
	width: 100%;
	height: 5px;
	background: var(--devider_color_01);
	padding: 0;
	margin: 0;
}

.landing_page_container{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 50px 0px 0px 0px;
}

.landing_page_cards_wrapper{
	width: 100%;
	height: 430px;
	position: relative;
	opacity: 0;
	animation: landing_page_cards_wrapper_animation 1s forwards;
	animation-delay: 1s;
}

@keyframes landing_page_cards_wrapper_animation {
  to { opacity: 1; }
}

.landing_page_card{
	width: 200px;
	height: 300px;
	background: var(--landing_page_cards_background);
	border: 2px solid var(--border_color_02);
	border-radius: 8px;
	place-content: center;
	place-items: center;
	transition: transform 0.2s ease;
	box-shadow: 
    			0 15px 20px -3px rgba(0, 0, 0, 0.5),
   				0 8px 12px -2px rgba(0, 0, 0, 0.1);
  	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card_01 {
	transform-origin: center;
	position: absolute;
	animation: cardTransition_01 2.2s ease-in-out forwards;
	animation-delay: 1.05s;
}

@keyframes cardTransition_01 {
	0% {
		top: 0%;
		left: 50%;
		transform: translateX(-50%) rotate(0deg) scale(1);
	}

	50% {
		top: 15%;
		left: 50%;
		transform: translateX(-50%) rotate(0deg) scale(1);
	}

	65% {
		top: 15%;
		left: 50%;
		transform: translateX(-50%) rotate(0deg) scale(1);
	}

	100% {
		top: 15%;
		left: 32%;
		transform: translateX(-50%) rotate(-25deg) scale(1);
	}
}

.landing_page_card_01_inner_border_01{
	width: 90%;
	height: 93%;
	border: 1px solid var(--border_color_02);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.landing_page_card_01_icon_01{
	width: max-content;
	height: auto;
	margin: 40px 0px 0px 0px;
}

.Creativity_icon{
	width: 130px;
}

.Box_path{
	stroke: var(--border_color_02);
	stroke-miterlimit: 10;
	stroke-width: 8px;
}

.Box_flap_01_path{
	fill: var(--border_color_03);
	stroke: var(--border_color_02);
	stroke-miterlimit: 10;
	stroke-width: 8px;
}

.Box_flap_02_path{
	fill: var(--border_color_03);
	stroke: var(--border_color_02);
	stroke-miterlimit: 10;
	stroke-width: 8px;
}

.Box_right_side_path{
	fill: var(--border_color_01);
	stroke: var(--border_color_02);
	stroke-miterlimit: 10;
	stroke-width: 8px;
}

.Box_left_side_path{
	fill: var(--border_color_01);
	stroke: var(--border_color_02);
	stroke-miterlimit: 10;
	stroke-width: 8px;
}

.Light_Box{
	fill: none;
}

.Light_Bulb{
	fill: var(--border_color_03);
	stroke: var(--border_color_02);
	stroke-miterlimit: 10;
	stroke-width: 8px;
}

.Light_Streaks{
	fill: var(--border_color_03);
	stroke: var(--border_color_02);
	stroke-miterlimit: 10;
	stroke-width: 8px;
}

.landing_page_card_title_tag_01{
	width: 100%;
	font-family: 'Prata_Custom', 'sans-serif';
	font-weight: 400;
	font-style: normal;
	font-size: 22px;
	text-align: center;
	letter-spacing: 0.5px;
	color: var(--text_color_02);
	border-top: 1px solid var(--border_color_02);
	padding: 8px 0px 0px 0px;
	margin: 0px 0px 6px 0px;
}

.card_02{
	transform-origin: center;
	position: absolute;
	animation: cardTransition_02 2.2s ease-in-out forwards;
	animation-delay: 1.05s;
}

@keyframes cardTransition_02 {
	0% {
		top: 0%;
		left: 50%;
		transform: translateX(-50%) rotate(0deg);
	}

	50% {
		top: 0%;
		left: 50%;
		transform: translateX(-50%) rotate(0deg);
	}

	65% {
		top: 0%;
		left: 50%;
		transform: translateX(-50%) rotate(0deg);
	}

	100% {
		top: 0%;
		left: 50%;
		transform: translateX(-50%) rotate(0deg);
	}
}

.Inimatibility_Icon{
	width: 130px;
}

.First_Lens_Stroke{
	fill: var(--cards_icon_fill_color_02);
	stroke-width: 7px;
	stroke: var(--border_color_02);
}

.Bigger_Lens_Handle_Box{
	fill: var(--cards_icon_fill_color_01);
	stroke-width: 10px;
	stroke: var(--border_color_02);
}

.Smaller_Lens_Handle_Box{
	fill: var(--cards_icon_fill_color_01);
	stroke-width: 10px;
	stroke: var(--border_color_02);
}

.Second_Lens_Stroke{
	fill: var(--cards_icon_fill_color_01);
	stroke-width: 15px;
	stroke: var(--border_color_02);
}

.Star_Box_Stroke{
	fill: var(--cards_icon_fill_color_02);
	stroke-width: 15px;
	stroke: var(--border_color_02);
}

.Top_Box{
	fill: var(--border_color_04);
}

.Base_Box{
	fill: var(--cards_icon_fill_color_01);
	stroke-width: 5px;
	stroke: var(--border_color_02);
}

.Star{
	fill: var(--cards_icon_fill_color_03);
	stroke-width: 15px;
	stroke: var(--border_color_02);
}

.card_03{
	transform-origin: center;
	position: absolute;
	animation: cardTransition_03 2.2s ease-in-out forwards;
	animation-delay: 1.05s;
}

@keyframes cardTransition_03 {
	0% {
		top: 0%;
		right: 50%;
		transform: translateX(50%) rotate(0deg);
	}

	50% {
		top: -15%;
		right: 50%;
		transform: translateX(50%) rotate(0deg);
	}

	65% {
		top: -15%;
		right: 50%;
		transform: translateX(50%) rotate(0deg);
	}

	100% {
		top: 15%;
		right: 32%;
		transform: translateX(50%) rotate(25deg);
	}
}

.Pertinacity_Icon{
	width: 130px;
	height: 130px;
}

.Human_icon{
	fill: var(--cards_icon_fill_color_02);
	stroke-width: 15px;
	stroke: var(--border_color_02);
}

.Ramp_icon{
	fill: var(--cards_icon_fill_color_01);
	stroke-width: 15px;
	stroke: var(--border_color_02);
}

.Gear_icon{
	fill: var(--cards_icon_fill_color_03);
	stroke-width: 15px;
	stroke: var(--border_color_02);
}

.Gear_icon_inner{
	fill: var(--cards_icon_fill_color_01);
	stroke-width: 15px;
	stroke: var(--border_color_02);
}

.landing_page_card_title_tag{
	font-family: 'Prata_Custom', 'sans-serif';
	font-weight: 400;
	font-style: normal;
	font-size: 22px;
	text-align: center;
	letter-spacing: 0.5px;
	color: var(--text_color_02);
	border-top: 1px solid var(--border_color_02);
	padding: 8px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.landing_page_cards_div_devider{
	width: 30%;
	height: 4px;
	background: var(--border_color_02);
	border-radius: 10px;
}

.landing_page_title_slogan_wrapper{
	width: 100%;
	height: 65px;
	display: flex;
	position: relative;
	font-family: 'Oswald_Custom';
	font-weight: 200;
	font-style: normal;
	font-size: 48px;
	margin: 0;
	overflow-y: hidden;
}

.landing_page_title_slogan{
	font-weight: 400;
	color: var(--text_color_01);
	position: absolute;
	top: -6%;
	left: 45%;
	transform: translateX(-50%);
	margin: 0;
}

.title_completion_01 {
	color: var(--text_color_01);
	position: absolute;
	left: 53.5%;
	transform: translateX(-50%);
	margin: 0;
	animation: sloganAnimation_01 4s ease-in-out infinite;
	animation-delay: 0s;
	overflow: hidden;
}

.title_completion_01 span {
    display: block;
	margin: 0;
    position: relative;
    clip-path: inset(0 0 100% 0); /* Hide the text */
    animation: sloganAnimation_01_lines 4s ease-in-out infinite;
	animation-delay: 0s;
}

.title_completion_01 span:nth-child(2) {
    animation-delay: 2.5s; /* Start the second line after 2s */
}

@keyframes sloganAnimation_01 {
	0% {
	  top: -115%;
	}
	20% {
	  top: -6%;
	}
	40% {
	  top: -6%;
	}
	
	60% {
	  top: -115%;
	}
	80% {
	  top: -115%;
	}
	100% {
	  top: -115%;
	}
}
  
@keyframes sloganAnimation_01_lines {
	/* When the text is offscreen above */
	0% {
	  clip-path: inset(100% 0 0 0);
	}
	/* As the text moves into view, reveal it */
	20% {
	  clip-path: inset(0 0 0 0);
	}
	40% {
	  clip-path: inset(0 0 0 0);
	}
	/* As the text scrolls out of view at the bottom, hide it */
	60% {
	  clip-path: inset(100% 0 0 0);
	}
	/* Remain hidden until the cycle restarts */
	80%, 100% {
	  clip-path: inset(100% 0 0 0);
	}
}

.scroll_arrow_down_circle_icon_wrapper{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 40px 0px 0px 0px;
}

.scroll_wrapper_text{
	font-family: 'Prata_Custom', 'sans-serif';
	font-weight: 400;
	font-size: 22px;
	letter-spacing: 0.5px;
	text-align: center;
	color: var(--text_color_02);
	margin: 0;
}

.scroll_arrow_down_svg_button{
	width: 62px;
	height: 65px;
	height: max-content;
	background: var(--border_color_02);
	border: 0;
	border-radius: 65px;
	margin-top: 10px;
	box-shadow: 
				0 15px 20px -3px rgba(0, 0, 0, 0.5),
	   			0 8px 12px -2px rgba(0, 0, 0, 0.1)
	;
}

.scroll_arrow_down_svg_button:hover{
	cursor: pointer;
}

.scroll_arrow_down_svg{
	width: 50px;
	height: 50px;
	padding-top: 3px;
	margin: 0;
}

.scroll_arrow_down_circle_icon{
	fill: var(--border_color_01);
	position: relative;
	overflow-y: hidden;
}

.scroll_arrow_down_icon {
	fill: transparent;
	stroke-width: 55px;
	stroke: var(--border_color_02);
	position: absolute;
	top: 50px;
	left: 0;
	animation: arrow_down_slide_down_animation 2s ease infinite;
	transform-box: fill-box;
}
  
@keyframes arrow_down_slide_down_animation {
	0% {
	  transform: translateY(-200%);
	}

	50% {
	  transform: translateY(0%);
	}

	60% {
		transform: translateY(0%);
	  }

	100% {
	  transform: translateY(200%);
	}
}

.section_02{
	background: var(--section_02_background_color);
	align-items: center;
	padding: 0;
	margin: 0;
}

.section_02_title_wrapper{
	width: 95%;
	height: auto;
	display: flex;
	flex-direction: column;
	margin: 30px 0px 0px 0px;
}

.section_02_title_wrapper span.page_02_animation{
	font-family: 'Prata_Custom', 'sans-serif';
	font-weight: 400;
	font-style: normal;
	font-size: 64px;
	text-align: left;
	letter-spacing: 0.5px;
	line-height: 1.0;
	color: var(--text_color_05);
	opacity: 0;
	margin: 10px 0px;
	animation: section_02_title_wrapper_animation 1s ease-in-out forwards;
	animation-delay: calc(0.6s + (1 - 1) * 0.2s);
}

@keyframes section_02_title_wrapper_animation {
	to { opacity: 1; }
}

.section_02_title_wrapper span.page_02_animation:nth-child(2) {
	animation-delay: calc(0.6s + (2 - 1) * 0.2s);
}

.section_02_header_image_01.page_02_animation {
	width: 95%;
	height: 300px;
	border: 1px solid var(--border_color_01);
	border-radius: 10px;
	opacity: 0;
	overflow-y: hidden;
	position: relative;
	box-shadow: 
				25px 25px 25px 5px rgba(0, 0, 0, 0.5),
				4px 8px 6px -2px rgba(0, 0, 0, 0.1)
	;
	margin: 50px 0px 0px 0px;
	animation: section_02_header_image_01_animation 1s ease-in-out forwards;
	animation-delay: calc(1s + (1 - 1) * 0.2s);
}

@keyframes section_02_header_image_01_animation {
	to { opacity: 1; }
}

.Banner_01_svg{
	width: 100%;
	height: auto;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

.spiral {
	animation: banner_spiral_fade 4s linear infinite;
}

@keyframes banner_spiral_fade {
	0% { opacity: 0; }
	20% { opacity: 1; }
	80% { opacity: 1; }
	100% { opacity: 0; }
}  

.spiral_01{
	fill: #080a09;
	animation-delay: 0s;
}

.spiral_02{
	fill: #080a09;
	animation-delay: 0.2s;
}

.spiral_03{
	fill: #0d110f;
	animation-delay: 0.4s;
}

.spiral_04{
	fill: #101713;
	animation-delay: 0.6s;
}

.spiral_05{
	fill: #131c17;
	animation-delay: 0.8s;
}

.spiral_06{
	fill: #18231d;
	animation-delay: 1s;
}

.spiral_07{
	fill: #1d2a22;
	animation-delay: 1.2s;
}

.spiral_08{
	fill: #223128;
	animation-delay: 1.4s;
}

.spiral_09{
	fill: #27382e;
	animation-delay: 1.6s;
}

.spiral_10{
	fill: #2c3f34;
	animation-delay: 1.8s;
}

.spiral_11{
	fill: #2c3f34;
	animation-delay: 2s;
}

.spiral_12{
	fill: #455a4d;
	animation-delay: 2.2s;
}

.spiral_13{
	fill: #5a6b61;
	animation-delay: 2.4s;
}

.spiral_14{
	fill: #6f7e75;
	animation-delay: 2.6s;
}

.spiral_15{
	fill: #839088;
	animation-delay: 2.8s;
}

.spiral_16{
	fill: #97a39c;
	animation-delay: 3s;
}

.spiral_17{
	fill: #acb5b0;
	animation-delay: 3.2s;
}

.spiral_18{
	fill: #c1c7c3;
	animation-delay: 3.4s;
}

.spiral_19{
	fill: #d5dad7;
	animation-delay: 3.6s;
}

.spiral_20{
	fill: #231f20;
	animation-delay: 3.8s;
}

.drop_shadow_1, .drop_shadow_2 {
	filter: drop-shadow(-3px -5px 20px rgba(255,255,255,0.85));
}
.drop_shadow_3, .drop_shadow_4 {
	filter: drop-shadow(-3px -5px 20px rgba(255,255,255,0.85));
}
.drop_shadow_5 {
	filter: drop-shadow(-2px -5px 20px rgba(255,255,255,0.85));
}
.drop_shadow_6 {
	filter: drop-shadow(-1px -5px 20px rgba(255,255,255,0.85));
}
.drop_shadow_7 {
	filter: drop-shadow(1px -5px 20px rgba(255,255,255,0.85));
}
.drop_shadow_8 {
	filter: drop-shadow(1px -5px 20px rgba(0,0,0,0.95));
}
.drop_shadow_9 {
	filter: drop-shadow(5px -5px 20px rgba(0,0,0,0.95));
}
.drop_shadow_10 {
	filter: drop-shadow(9px -4px 20px rgba(0,0,0,0.95));
}
.drop_shadow_11 {
	filter: drop-shadow(11px -3px 20px rgba(0,0,0,0.95));
}
.drop_shadow_12 {
	filter: drop-shadow(11px -2px 20px rgba(0,0,0,0.95));
}
.drop_shadow_13, .drop_shadow_14, .drop_shadow_15 {
	filter: drop-shadow(11px -1px 20px rgba(0,0,0,0.95));
}
.drop_shadow_16 {
	filter: drop-shadow(6px -6px 20px rgba(0,0,0,0.95));
}

.section_02_header_image_01 h2.page_02_animation{
	font-family: 'Prata_Custom', 'sans-serif';
	font-weight: 400;
	font-style: normal;
	font-size: 72px;
	letter-spacing: 0.5px;
	line-height: 0.8;
	color: var(--text_color_01);
	opacity: 0;
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translateY(-50%);
	transform: translateX(-50%);
	animation: section_02_header_image_01_h2_animation 1s ease-in-out forwards;
	animation-delay: calc(1s + (2 - 1) * 0.5s);
}

@keyframes section_02_header_image_01_h2_animation {
	to { opacity: 1; }
}

.section_02_content_wrapper{
	width: 95%;
	max-height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 100px 0px 0px 0px;
}

.section_02_content_01_wrapper.page_02_animation{
	width: 58%;
	height: 100%;
	border-right: 1px solid var(--border_color_06);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	opacity: 0;
	margin: 0;
	animation: section_02_content_01_wrapper_animation 1s ease-in forwards;
	animation-delay: calc(1s + (1 - 1) * 0.2s);
}

@keyframes section_02_content_01_wrapper_animation {
	to { opacity: 1; }
}

.section_02_decor_01{
	width: 100%;
	height: auto;
	display: flex;
	margin-bottom: 50px;
}

.section_02_decor_01_element.page_02_animation{
	content: " ";
	border: 1px solid var(--border_color_06);
	border-radius: 50px;
	background: var(--decoration_color_02);
	opacity: 0;
	margin-right: 20px;
	animation: section_02_decor_01_element_animation 1s ease-in forwards;
}

@keyframes section_02_decor_01_element_animation {
	to { opacity: 1; }
}

.section_02_decor_01_element:nth-child(1) {
	width: 100px;
	height: 25px;
	box-shadow: 
				5px 15px 10px -3px rgba(0, 0, 0, 0.5),
				4px 8px 6px -2px rgba(0, 0, 0, 0.1)
	;
	animation-delay: calc(1s + (4 - 1) * 0.2s);
}

.section_02_decor_01_element:nth-child(2) {
	width: 45px;
	height: 25px;
	box-shadow: 
				5px 15px 10px -3px rgba(0, 0, 0, 0.5),
				4px 8px 6px -2px rgba(0, 0, 0, 0.1)
	;
	animation-delay: calc(1s + (5 - 1) * 0.2s);
}

.section_02_decor_01_element:nth-child(3) {
	width: 25px;
	height: 25px;
	box-shadow: 
				5px 15px 10px -3px rgba(0, 0, 0, 0.5),
				4px 8px 6px -2px rgba(0, 0, 0, 0.1)
	;
	animation-delay: calc(1s + (6 - 1) * 0.2s);
}

.section_02_content_title {
	width: 90%;
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
}

.section_02_content_title span{
	font-family: 'Prata_Custom', 'sans-serif';
	font-weight: 400;
	font-style: normal;
	font-size: 54px;
	text-align: left;
	letter-spacing: 0.5px;
	line-height: 1.2;
	color: var(--text_color_05);
	opacity: 0;
}

@keyframes section_02_content_title_animation {
	to { opacity: 1; }
}

.section_02_content_title span.page_02_animation {
	animation: section_02_content_title_animation 1s forwards;
	animation-delay: 1s;
}

.section_02_content_title span.page_02_animation:nth-child(2) {
	animation-delay: 1.2s;
}

.section_02_content_title span.page_02_animation:nth-child(3) {
	animation-delay: 1.4s;
}

.section_02_decor_02{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row-reverse;
	margin-top: 40px;
}

.section_02_decor_01_element:nth-child(4) {
	width: 100px;
	height: 25px;
	box-shadow: 
				5px 15px 10px -3px rgba(0, 0, 0, 0.5),
				4px 8px 6px -2px rgba(0, 0, 0, 0.1)
	;
	animation-delay: 0s;
}

.section_02_decor_01_element:nth-child(5) {
	width: 45px;
	height: 25px;
	box-shadow: 
				5px 15px 10px -3px rgba(0, 0, 0, 0.5),
				4px 8px 6px -2px rgba(0, 0, 0, 0.1)
	;
	animation-delay: 0.2s;
}

.section_02_decor_01_element:nth-child(6) {
	width: 25px;
	height: 25px;
	box-shadow: 
				5px 15px 10px -3px rgba(0, 0, 0, 0.5),
				4px 8px 6px -2px rgba(0, 0, 0, 0.1)
	;
	animation-delay: 0.4s;
}

.section_02_content_02_wrapper{
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.element_content.page_02_animation{
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	opacity: 0;
	margin: auto 0;
	animation: element_content_animation 1s ease-in forwards;
	animation-delay: calc(1s + (1 - 1) * 0.2s);
}

@keyframes element_content_animation {
	to { opacity: 1; }
}

.element_content_img.page_02_animation{
	width: auto;
	height: auto;
	opacity: 0;
	animation: element_content_img_animation 1s forwards;
	margin-bottom: 10px;
}

@keyframes element_content_img_animation {
	to { opacity: 1; }
}

.section_02_content_02_wrapper .element_content:nth-child(1) .element_content_img {
	animation-delay: calc(1s + (3 - 1) * 0.2s);
}

.section_02_content_02_wrapper .element_content:nth-child(2) .element_content_img {
	animation-delay: calc(1s + (4 - 1) * 0.2s);
}

.section_02_content_02_wrapper .element_content:nth-child(3) .element_content_img {
	animation-delay: calc(1s + (5 - 1) * 0.2s);
}

.element_content_img_icon{
	width: 70px;
	height: 70px;
}

.element_content_text{
	width: 87%;
	height: auto;
	display: flex;
	flex-direction: column;
	overflow-y: hidden;
	margin-bottom: 10px;
}

.element_content_text_title.page_02_animation{
	font-family: 'Prata_Custom', 'sans-serif';
	font-weight: 400;
	font-style: normal;
	font-size: 20px;
	text-align: left;
	color: var(--text_color_05);
	opacity: 0;
	margin: 0;
	animation: element_content_text_title_animation 1s forwards;
}

@keyframes element_content_text_title_animation {
	to { opacity: 1; }
}

.section_02_content_02_wrapper .element_content:nth-child(1) .element_content_text_title {
	animation-delay: calc(1s + (4 - 1) * 0.2s);
}

.section_02_content_02_wrapper .element_content:nth-child(2) .element_content_text_title {
	animation-delay: calc(1s + (5 - 1) * 0.2s);
}

.section_02_content_02_wrapper .element_content:nth-child(3) .element_content_text_title {
	animation-delay: calc(1s + (6 - 1) * 0.2s);
}

.element_content_text_description.page_02_animation{
	font-family: 'Oswald_Custom';
	font-weight: 200;
	font-style: normal;
	font-size: 18px;
	color: var(--text_color_05);
	opacity: 0;
	margin: 0;
	animation: element_content_text_description_animation 1s forwards;
}

@keyframes element_content_text_description_animation {
	to { opacity: 1; }
}

.section_02_content_02_wrapper .element_content:nth-child(1) .element_content_text_description {
	animation-delay: calc(1s + (5 - 1) * 0.2s);
}

.section_02_content_02_wrapper .element_content:nth-child(2) .element_content_text_description {
	animation-delay: calc(1s + (6 - 1) * 0.2s);
}

.section_02_content_02_wrapper .element_content:nth-child(3) .element_content_text_description {
	animation-delay: calc(1s + (7 - 1) * 0.2s);
}

.wrapper_01,
.wrapper_02 {
	border-bottom: 1px solid var(--border_color_06);
}

.scroll_arrow_down_circle_icon_wrapper_section_02.page_02_animation{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0;
	margin: 100px 0px 0px 0px;
	animation: scroll_arrow_down_circle_icon_wrapper_section_02_animation 1s forwards;
	animation-delay: calc(1s + (8 - 1) * 0.2s);
}

@keyframes scroll_arrow_down_circle_icon_wrapper_section_02_animation {
	to { opacity: 1; }
}

.section_03{
	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--section_03_background_color);
	margin: 0;
}

.section_03_header_title_wrapper{
	width: 95%;
	height: auto;
	margin: 30px 0px 0px 0px;
}

.section_03_header_title_wrapper h2.page_03_animation{
	font-family: 'Prata_Custom', 'sans-serif';
	font-weight: 600;
	font-style: normal;
	font-size: 58px;
	text-align: left;
	letter-spacing: 0.5px;
	color: var(--text_color_07);
	opacity: 0;
	margin: 0;
	animation: section_03_header_title_wrapper_h2_animation 1s forwards;
	animation-delay: calc(1s + (1 - 1) * 0.2s);
}

@keyframes section_03_header_title_wrapper_h2_animation {
	to { opacity: 1; }
}

.section_03_word_decoration_01 {
	text-underline-offset: 10px;
	text-decoration-color: var(--border_color_01);
}

.section_03_content_wrapper{
	width: 95%;
	height: auto;
	display: flex;
	justify-content: space-between;
	margin: 20px 0px 0px 0px;
}

.section_03_01_wrapper{
	width: 50%;
	height: auto;
	display: flex;
	flex-direction: column;
	margin: 0px 0px 0px 0px;
}

.section_03_01_header_title_wrapper{
	width: 100%;
	height: max-content;
	display: flex;
	flex-direction: column;
}

.section_03_01_header_title_wrapper span.page_03_animation {
	font-family: 'Prata_Custom', 'sans-serif';
	font-weight: 400;
	font-style: normal;
	font-size: 54px;
	letter-spacing: 0.5px;
	line-height: 1.0;
	color: var(--text_color_07);
	opacity: 0;
	align-self: flex-start;
	margin: 5px 0px;
	animation: section_03_01_header_title_wrapper_span_animation 1s forwards;
	animation-delay: calc(1s + (1 - 1) * 0.2s);
}

.section_03_word_decoration{
	color: var(--text_color_06);
	text-decoration-color: var(--border_color_01);
}

.section_03_01_content_wrapper{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	margin: 70px auto 20px auto;
}

.section_03_01_content_element_01 {
	width: 100%;
	height: auto;
	background: var(--section_03_element_background_color_01);
	border-radius: 10px;
}

.section_03_01_content_element_01_title{
	width: 90%;
	height: auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 40px auto 0px auto;	
}

.section_03_01_content_element_01_title span{
	font-family: 'Oswald_Custom';
	font-weight: 200;
	font-style: normal;
	font-size: 64px;
	line-height: 1;
	color: var(--text_color_09);
}

.section_03_01_content_element_custom_text {
	width: 100%;
	position: relative;
}

.arrow_right_01_svg_icon {
	width: 150px;
	height: 150px;
	position: absolute;
	top: -40px;
	left: 150px;
}

.arrow_right_path {
	fill: transparent;
	stroke-width: 15px;
	stroke: var(--border_color_01);
}

.section_03_word_decoration_00{
	font-family: 'Prata_Custom', 'sans-serif';
	font-weight: 400;
	font-style: normal;
	text-decoration: underline;
	text-underline-offset: 10px;
	text-decoration-color: var(--border_color_01);
}

.section_03_01_content_element_01_description {
	width: 90%;
	height: auto;
	display: flex;
	flex-direction: column;
	margin: 0px auto 20px auto;
}

.section_03_01_content_element_01_description p{
	font-family: 'Oswald_Custom';
	font-weight: 200;
	font-style: normal;
	font-size: 20px;
	text-align: left;
	color: var(--text_color_09);
}

.section_03_01_content_elements_wrapper{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	margin: 70px auto 0px auto;
}

.section_03_01_content_sub_elements {
	width: 45%;
	height: 250px;
	background: var(--section_03_element_gradient_background_color_01);
	border: 2px solid var(--border_color_01);
	border-radius: 10px;
	overflow: hidden;
	position: relative;
}

.section_03_01_content_sub_elements img {
	width: auto;
	height: 100%;
	place-self: center;
	place-items: center;
	margin: 0;
}

.section_03_01_content_sub_elements h2 {
	font-family: 'Prata_Custom', 'sans-serif';
	font-weight: 400;
	font-style: normal;
	font-size: 34px;
	letter-spacing: 0.5px;
	line-height: 0.8;
	color: var(--text_color_09);
	margin: 0px 20px 20px 20px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.card_04 img{
	width: 100%;
	height: auto;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.card_05 img{
	width: 100%;
	height: auto;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}


.section_03_02_wrapper {
	width: 50%;
	height: max-content;
	display: flex;
	flex-direction: column;
	margin: 0px 0px 0px 0px;
}

.section_03_02_card_elements_wrapper{
	width: 71%;
	height: 580px;
	position: relative;
	margin: 0px auto 20px auto;
}

.section_03_02_content_wrapper_01,
.section_03_02_content_wrapper_02,
.section_03_02_content_wrapper_03 {
	position: absolute;
	top: 0;
	left: 0;
}

.section_03_02_content_wrapper_01 {
	width: 330px;
	height: 550px;
	display: flex;
	background: var(--section_03_element_background_color_01);
	border-radius: 10px;
	border: 2px solid var(--border_color_01);
}

.content_section_01{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
}

.content_section_01_header{
	width: 100%;
	height: auto;
	margin: 20px 0px 0px 0px;
}

.content_section_01_header_span{
	width: 100%;
	height: max-content;
	display: flex;
	flex-direction: column;
}

.content_section_01_header_span span {
	font-family: 'Oswald_Custom';
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	line-height: 1;
	color: var(--text_color_09);
	place-self: flex-start;
	margin: 0px 0px 0px 20px;
}

.content_section_01_header_span span:nth-child(1) {
	margin-bottom: 5px;
}

.content_section_01_header_number {
	width: 100%;
	height: max-content;
	display: flex;
	flex-direction: row-reverse;
	margin: 0;
}

.content_section_01_header_number span {
	font-family: 'Prata_Custom', 'sans-serif';
	font-weight: 600;
	font-style: normal;
	font-size: 54px;
	letter-spacing: 0.5px;
	line-height: 1.0;
	color: var(--text_color_06);
	margin: 0px 20px 0px 0px;
}

.section_03_02_devider {
	width: 90%;
	height: 2px;
	background: var(--border_color_08);
	margin: 10px auto;
}

.content_section_01_content_wrapper {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
}

.content_author_name{
	width: 100%;
	height: max-content;
	margin: 10px 0px 10px 0px;
}

.content_author_name span {
	font-family: 'Prata_Custom', 'sans-serif';
	font-weight: 400;
	font-style: normal;
	font-size: 15px;
	letter-spacing: 0.5px;
	color: var(--text_color_09);
	margin: 0px 0px 0px 20px;
}

.content_section_01_content_media {
	width: 90%;
	height: 150px;
	border: 1px solid var(--border_color_01);
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}

.content_section_01_content_media img {
	width: 100%;
	height: auto;
	position: absolute;
	top: 70%;
	left: 0;
	transform: translateY(-50%);
	margin: 0px 0px;
}

.content_section_01_content_media_description {
	width: 90%;
	height: max-content;
	display: flex;
	flex-direction: column;
	margin: 10px auto;
}

.content_section_01_content_media_description span + p {
	margin-top: 20px;
}

.content_section_01_content_media_description span{
	font-family: 'Prata_Custom', 'sans-serif';
	font-weight: 400;
	font-style: normal;
	font-size: 20px;
	letter-spacing: 0.5px;
	line-height: 1.0;
	color: var(--text_color_09);
	place-self: flex-end;
}

.content_section_01_content_media_description p{
	font-family: 'Oswald_Custom';
	font-weight: 200;
	font-style: normal;
	font-size: 16px;
	text-align: right;
	color: var(--text_color_09);
}

.content_section_01_content_media_footer {
	width: 90%;
	height: auto;
	display: flex;
	margin: 0px auto 20px auto;
}

.content_section_01_content_media_footer span{
	font-family: 'Prata_Custom', 'sans-serif';
	font-weight: 600;
	font-style: normal;
	font-size: 12px;
	letter-spacing: 0.5px;
	line-height: 1.0;
	color: var(--text_color_09);
}

.content_section_01_footer_devider{
	width: 90%;
	height: 2px;
	background: var(--border_color_08);
	margin: 0px auto 20px auto;
}

.section_03_02_content_wrapper_02 {
	width: 250px;
	height: 550px;
	display: flex;
	background: var(--section_03_element_background_color_02);
	border: 2px solid var(--border_color_01);
	border-radius: 10px;
	top: 10px;
	left: 200px;
	z-index: -1;
}

.content_section_01_card_02_content_media_result {
	width: 90%;
	height: 300px;
	border: 1px solid var(--border_color_01);
	border-radius: 10px;
	overflow: hidden;
	margin: 0px auto 17px auto;
}

.content_section_01_card_02_content_media_result img {
	width: auto;
	height: 100%;
	margin: 0px 0px;
}

.section_03_02_card_02_content_media_footer {
	width: 90%;
	height: auto;
	display: flex;
	flex-direction: row-reverse;
	margin: 0px auto 20px auto;
}

.section_03_02_card_02_content_media_footer span{
	font-family: 'Prata_Custom', 'sans-serif';
	font-weight: 600;
	font-style: normal;
	font-size: 12px;
	letter-spacing: 0.5px;
	line-height: 1.0;
	color: var(--text_color_09);
}

.section_03_02_card_02_footer_devider{
	width: 90%;
	height: 2px;
	background: var(--border_color_08);
	margin: 0px auto 20px auto;
}

.section_03_02_content_wrapper_03 {
	width: 300px;
	height: 550px;
	display: flex;
	background: var(--section_03_element_background_color_03);
	border: 2px solid var(--border_color_01);
	border-radius: 10px;
	top: 25px;
	left: 270px;
	z-index: -2;
}

.content_section_01_card_01_content_media_result {
	width: 90%;
	height: 300px;
	border: 1px solid var(--border_color_01);
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}

.content_section_01_card_01_content_media_result img {
	width: 100%;
	height: auto;
	position: absolute;
	top: 45%;
	left: 0;
	transform: translateY(-50%);
	margin: 0px 0px;
}

.section_03_02_card_01_content_media_footer {
	width: 90%;
	height: auto;
	display: flex;
	flex-direction: row-reverse;
	margin: 20px auto 20px auto;
}

.section_03_02_card_01_content_media_footer span{
	font-family: 'Prata_Custom', 'sans-serif';
	font-weight: 600;
	font-style: normal;
	font-size: 12px;
	letter-spacing: 0.5px;
	line-height: 1.0;
	color: var(--text_color_09);
}

.section_03_02_card_01_footer_devider{
	width: 90%;
	height: 2px;
	background: var(--border_color_08);
	margin: 0px auto 20px auto;
}

@keyframes section_03_01_header_title_wrapper_span_animation {
	to { opacity: 1; }
}

@media screen and (max-width: 2000px) {

	.section_02_title_wrapper{
		margin: 10px 0px 0px 0px;
	}

	.section_02_header_image_01.page_02_animation {
		height: 220px;
		margin: 10px 0px 0px 0px;
	}

	@keyframes Banner_01_svg_animation {
		100% { transform: translateY(-25%); }
	}

	@keyframes section_02_header_image_01_h2_animation {
		100% { 
			opacity: 1;
			transform: translateX(-50%) translateY(50%); 
		}
	}

	.section_02_content_wrapper{
		margin: 30px 0px 0px 0px;
	}

	.section_02_decor_01{
		margin-bottom: 30px;
	}

	.section_02_decor_02{
		margin-top: 30px;
	}

	.scroll_arrow_down_circle_icon_wrapper_section_02.page_02_animation{
		margin: 20px 0px 0px 0px;
	}
	
}

@media screen and (max-width: 1600px) {

	.section_02_title_wrapper {
		margin: 10px 0px 10px 0px;
	}

	.section_02_title_wrapper span.page_02_animation{
		line-height: 1.1;
		margin: 0px 0px;
	}

	.section_02_header_image_01.page_02_animation {
		height: 150px;
	}

	.Banner_01_svg{
		top: 85%;
	}

	.section_02_content_wrapper{
		margin: 30px 0px 0px 0px;
	}

	.section_02_decor_01{
		margin-bottom: 20px;
	}

	.section_02_content_title span{
		line-height: 1.2;
	}

	.section_02_decor_02{
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.element_content_text.page_02_animation{
		margin-bottom: 0px;
	}

	.element_content_img.page_02_animation{
		margin-bottom: 0px;
	}

	.Banner_01_svg{
		top: 45%;
	}

	.section_02_header_image_01 h2.page_02_animation {
		top: -33%;
	}

	@keyframes section_02_header_image_01_h2_animation {
		100% { 
			opacity: 1;
			transform: translateX(-50%) translateY(65%); 
		}
	}

	.scroll_arrow_down_circle_icon_wrapper_section_02.page_02_animation{
		margin: 15px 0px 0px 0px;
	}

	.section_03{
		display: flex;
		flex-direction: column;
		align-items: center;
		background: var(--section_03_background_color);
		margin: 0;
	}
	
	.section_03_header_title_wrapper{
		margin: 20px 0px 0px 0px;
	}
	
	.section_03_header_title_wrapper h2.page_03_animation{
		font-size: 64px;
		letter-spacing: 0;
		line-height: 1;
	}
	
	.section_03_content_wrapper {
		margin: 30px 0px 0px 0px;
	}
	
	.section_03_01_header_title_wrapper span.page_03_animation {
		font-size: 29px;
		letter-spacing: 0.0px;
		line-height: 1.3;
		margin: 0px;
	}
	
	.section_03_word_decoration_02{
		color: var(--text_color_06);
		text-decoration-thickness: 4px;
		text-underline-offset: 4px;
		text-decoration-color: var(--border_color_01);
	}
	
	.section_03_02_wrapper{
		margin: 0px 0px 0px 0px;
	}
	
	.section_03_02_content_wrapper_01 {
		justify-content: space-between;
	}

	.content_section_01_header_span span{
		font-size: 18px;
		line-height: 0.9;
	}

	.content_section_01_header_number span {
		font-size: 64px;
		letter-spacing: 0px;
		line-height: 0.5;
	}
	
	.section_03_02_devider {
		border-radius: 25px;
		margin: 20px auto;
	}
	
	.content_section_01_content_wrapper {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
	}
	
	.content_author_name span {
		font-size: 15px;
		letter-spacing: 0.5px;
		color: var(--text_color_08);
	}
	
	.content_section_01_content_media img {
		width: 30%;
	}
	
	.content_section_01_content_media_description span{
		font-size: 22px;
		line-height: 1.2;
	}
	
	.content_section_01_content_media_description p{
		font-size: 18px;
		margin: 0px 0px 0px 0px;
	}
	
	.content_section_01_content_media_footer span{
		font-size: 13px;
	}
	
}